flask
flask-cors
langchain
langchain-groq
langchain-community
langchain-text-splitters
langchain-chroma
langchain-google-genai
pandas
sqlalchemy
psycopg2-binary  # Assuming you're using PostgreSQL
python-dotenv  # For managing environment variables
gunicorn 
honcho
