@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Set the base font family and size */
  html {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
  }

  /* Heading Styles */
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  h2 {
    font-size: 2rem;
    font-weight: 600;
  }

  h3 {
    font-size: 1.75rem;
    font-weight: 600;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  h5 {
    font-size: 1.25rem;
    font-weight: 500;
  }

  h6 {
    font-size: 1rem;
    font-weight: 500;
  }

  /* Paragraph Style */
  p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }
}
